li.track p.buk-track-labels {
    color: #fff;
    font-size: 1.2em;
    letter-spacing: 1px;
}

p.buk-track-labels div {
    display: inline-block;
    width: 3.8rem;
}

p.buk-track-labels div:last-child {
    text-align: right;
}

.camelotdj-main {
    position: absolute;
    right: 0;
    margin-top: 1rem;
    margin-right: 1.5rem;
}

div.inner-container {
    display: flex;
}

a.key-label, div.link-label {
    padding-left: 0.6rem;
    margin-right: 0.4rem;
    background-color: #26262680;
    border-radius: 0.5rem 0.5rem 0 0;
    color: #fff;
    text-shadow: 4px -2px 0.5px #141414;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 1px solid #94d500;
}

a.key-label {
    height: fit-content;
    margin-top: 0.35rem;
    font-size: 1.25rem;
    font-weight: 300;
}

a.key-label strong {
    margin-left: 0.1rem;
    font-size: 1.55rem;
    font-weight: 600;
}

div.link-label {
    margin-top: 0.45rem;
    margin-left: 1.5rem;
    font-size: 1.05rem;
    font-weight: 400;
}

div.link-label strong {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    font-size: 1.4rem;
    font-weight: 600;
}

div.key-grid {
    height: 48px;
    width: 540px;
    background-color: #141414;
    border-radius: 0.5rem;
    box-shadow: 4px -2px 0.5px 1.5px rgba(0, 48, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    user-select: none;
}

div.key-grid:hover {
    cursor: pointer;
}

div.link-row {
    margin-top: 0.7rem;
    width: 556px;
    margin-right: -20px;
}

div.key-row, div.link-row {
    display: flex;
    justify-content: space-around;
}

div.key-col {
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 1px;
    width: 3rem;
    padding-right: 0.2rem;
    text-align: right;
}

div.key-grid div.key-col:hover {
    border-radius: 0.3rem;
    background: #82bc00;
    color: #262626;
}

div.key-col.selected {
    border-radius: 0.3rem;
    background: #94d500;
    color: #262626;
}

div.key-col.included {
    border-radius: 0.3rem;
    background: #ff53a0;
}

div.link-row a {
    font-size: 1.1rem;
    font-weight: 600;
}

div.link-row a:hover, div.link-row a.selected {
    border-bottom: 1px solid #94d500;
}

div.link-row a:hover {
    text-shadow: 0 1px 3px #94d500AA
}
